<a href="https://colab.research.google.com/github/Phonchanit/python_dataviz2024/blob/main/Exam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
TestData_path = '/content/drive/My Drive/data_viz_2024/test-TidyData_2024.csv'
print(TestData_path)

/content/drive/My Drive/data_viz_2024/test-TidyData_2024.csv

In [13]:
TestData_df = pd.read_csv(TestData_path)
TestData_df.head()

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.095,0.012,0.027,30.2,5.54,622.7,330.3,545.2,4.37,0.173,0.053,0.013,163583.0,NaN
1,July_2018,2,1,0.038,0.059,0.021,29.1,6.24,580.7,307.0,488.2,6.55,0.154,0.145,0.006,1166667.0,NaN
2,July_2018,3,1,0.044,0.089,0.023,29.7,5.52,547.1,289.4,462.2,5.67,0.153,0.154,0.014,2970000.0,NaN
3,July_2018,4,1,0.040,0.065,0.017,29.2,5.92,473.6,249.2,397.9,0.69,0.157,0.387,0.057,506667.0,NaN
4,July_2018,5,1,0.045,0.062,0.023,29.5,5.79,685.5,366.0,581.2,4.46,0.204,0.043,0.007,1265000.0,NaN

In [28]:
TestData_path = 'test-TidyData_2024.csv'  # Replace with your file path
data = pd.read_csv(TestData_path)

In [39]:
#1: ความแตกต่างของ ค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019
data['year'] = data['month'].apply(lambda x: int(x.split('_')[-1]))

# Filter data for years 2018 and 2019
data_2018 = data[data['year'] == 2018]
data_2019 = data[data['year'] == 2019]

# Calculate the mean Chlo_a for each station in 2018 and 2019
mean_chlo_a_2018 = data_2018.groupby('station')['Chlo_a'].mean()
mean_chlo_a_2019 = data_2019.groupby('station')['Chlo_a'].mean()

# Combine the results into a single DataFrame for comparison
chlo_a_comparison = pd.DataFrame({
    'Mean_Chlo_a_2018': mean_chlo_a_2018,
    'Mean_Chlo_a_2019': mean_chlo_a_2019
}).reset_index()

# Display the comparison
print(chlo_a_comparison)

   station  Mean_Chlo_a_2018  Mean_Chlo_a_2019
0        1          0.052667          0.018333
1        2          0.048222          0.027867
2        3          0.053333          0.023000
3        4          0.046833          0.021733
4        5          0.043444          0.020067
5        6          0.043944          0.015667

In [40]:
#2: สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน
# Extract month name from the 'month' column
data['month_name'] = data['month'].apply(lambda x: x.split('_')[0])

# Calculate the mean Chlo_b for each station for each month
mean_chlo_b_monthly = data.groupby(['station', 'month_name'])['Chlo_b'].mean().unstack()

# Display the table
print(mean_chlo_b_monthly)

month_name       Apr       Aug       Dec       Jan      July      June  \
station
1           0.051333  0.075667  0.069667  0.022667  0.030667  0.020667
2           0.019333  0.065333  0.064333  0.015000  0.038167  0.013333
3           0.031000  0.065333  0.080667  0.017667  0.045333  0.013333
4           0.020333  0.061333  0.062000  0.012000  0.035333  0.013667
5           0.027333  0.060000  0.070333  0.009667  0.037667  0.014000
6           0.025667  0.063000  0.065667  0.014000  0.033167  0.008667

month_name       May       Nov       Oct       Sep
station
1           0.015667  0.076000  0.131667  0.064000
2           0.028667  0.064667  0.122667  0.074667
3           0.016000  0.098000  0.106333  0.076667
4           0.015667  0.070667  0.091000  0.064667
5           0.017000  0.064000  0.082333  0.061000
6           0.023667  0.073333  0.079333  0.061667