<a href="https://colab.research.google.com/github/Phonchanit/python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'พรชนิตว์'
surname = 'เหล่าโยธี'
ID = '653020212-4'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ พรชนิตว์ นามสกุล เหล่าโยธี รหัส 653020212-4

hw1

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15 ', ' 13:41:07']

## Quiz2
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2 สามารถข้ามไปอีกวันได้

In [ ]:
def print_time(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list1[1])*60 + int(time1_list1[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list1[1])*60 + int(time2_list1[2])
    print(f'time1 = {time1_sec}')
    print(f'time2 = {time2_sec}')
    print(f'time1 - time2 = {time1_sec - time2_sec}')

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15 ', ' 13:41:07']

#Quiz3.5
รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

In [ ]:
def print_2lines_default(time2,time1= '00:00:00'):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list1[1])*60 + int(time1_list1[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list1[1])*60 + int(time2_list2[2])
    print(f'time1 = {time1_sec}')
    print(f'time2 = {time2_sec}')
    print(f'time1 - time2 = {time1_sec - time2_sec}')

## HW2
**วนลูปหาช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time 2 ต่อไปนี้**
1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [1]:
Time_list = [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17")]

In [2]:
def time_diff_seconds(time1, time2):
    h1, m1, s1 = map(int, time1.split(':'))
    h2, m2, s2 = map(int, time2.split(':'))

    total_seconds1 = h1 * 3600 + m1 * 60 + s1
    total_seconds2 = h2 * 3600 + m2 * 60 + s2

    return total_seconds2 - total_seconds1

In [3]:
for time1, time2 in Time_list:
    seconds_diff = time_diff_seconds(time1, time2)
    print(f"ช่วงเวลา {time1} - {time2} ห่างกัน {seconds_diff} วินาที")

ช่วงเวลา 18:09:10 - 18:25:10 ห่างกัน 960 วินาที
ช่วงเวลา 13:38:39 - 23:54:39 ห่างกัน 36960 วินาที
ช่วงเวลา 16:49:58 - 18:05:58 ห่างกัน 4560 วินาที
ช่วงเวลา 21:49:10 - 22:24:10 ห่างกัน 2100 วินาที
ช่วงเวลา 08:52:21 - 09:25:21 ห่างกัน 1980 วินาที
ช่วงเวลา 06:56:26 - 07:49:26 ห่างกัน 3180 วินาที
ช่วงเวลา 12:08:05 - 12:43:05 ห่างกัน 2100 วินาที
ช่วงเวลา 01:48:38 - 07:18:38 ห่างกัน 19800 วินาที
ช่วงเวลา 08:51:21 - 10:17:21 ห่างกัน 5160 วินาที
ช่วงเวลา 17:05:17 - 18:09:17 ห่างกัน 3840 วินาที

In [20]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_diff_seconds(time1, time2)
print(f"ช่วงเวลา {time1} - {time2} ห่างกัน {diff_seconds} วินาที")

ช่วงเวลา 18:09:10 - 00:25:10 ห่างกัน -63840 วินาที

# LOOP การวนซ้ำ

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():
    print('Phonchanit')

In [ ]:
print_myname()

Phonchanit

In [ ]:
def print_name(surname,ID,name): #ตัวอย่าง function ที่มี input หลายตัวและมี output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

# Dictionary (Data Structure)
โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย Text
วงเล็บ { } Curly Brackets

In [6]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [7]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [8]:
Ex_dict_A['memberA']

[1, 2, 3]

In [9]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [13]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [14]:
name_grade['ปนัดดา']

'A'

In [15]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [16]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [17]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [18]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# Conditional คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง Boolean(True,False)

In [21]:
condition_1 = True
condition_2 = False

## การวนลูปโดยมีเงื่อนไขต่างๆ มาเกี่ยวข้อง โดยมี pattern ดังนี้

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [23]:
Time_list = [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_diff_seconds(time1, time2):
    h1, m1, s1 = map(int, time1.split(':'))
    h2, m2, s2 = map(int, time2.split(':'))

    total_seconds1 = h1 * 3600 + m1 * 60 + s1
    total_seconds2 = h2 * 3600 + m2 * 60 + s2

    return total_seconds2 - total_seconds1
for time1, time2 in Time_list:
    seconds_diff = time_diff_seconds(time1, time2)
    print(f"ช่วงเวลา {time1} - {time2} ห่างกัน {seconds_diff} วินาที")

ช่วงเวลา 18:09:10 - 18:25:10 ห่างกัน 960 วินาที
ช่วงเวลา 13:38:39 - 23:54:39 ห่างกัน 36960 วินาที
ช่วงเวลา 16:49:58 - 18:05:58 ห่างกัน 4560 วินาที
ช่วงเวลา 21:49:10 - 22:24:10 ห่างกัน 2100 วินาที
ช่วงเวลา 08:52:21 - 09:25:21 ห่างกัน 1980 วินาที
ช่วงเวลา 06:56:26 - 07:49:26 ห่างกัน 3180 วินาที
ช่วงเวลา 12:08:05 - 12:43:05 ห่างกัน 2100 วินาที
ช่วงเวลา 01:48:38 - 07:18:38 ห่างกัน 19800 วินาที
ช่วงเวลา 08:51:21 - 10:17:21 ห่างกัน 5160 วินาที
ช่วงเวลา 17:05:17 - 18:09:17 ห่างกัน 3840 วินาที

In [28]:
def time_to_second(time1):
    Time_list = time1.split(':')
    total_seconds1 = int(Time_list[0])*3600 + int(Time_list[1])*60 + int(Time_list[2])
    return total_seconds1

In [29]:
Time_list = [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

In [30]:
for time1, time2 in Time_list:
    #ถ้า Time1 น้อยกว่า Time2
    if time_to_second(time1) < time_to_second(time2):
      diff_seconds = time_to_second(time2) - time_to_second(time1)
    else:
      diff_seconds = time_to_second(time1) - time_to_second(time2)
    print(f"ช่วงเวลา {time1} - {time2} ห่างกัน {seconds_diff} วินาที")

ช่วงเวลา 18:09:10 - 18:25:10 ห่างกัน 3840 วินาที
ช่วงเวลา 13:38:39 - 23:54:39 ห่างกัน 3840 วินาที
ช่วงเวลา 16:49:58 - 18:05:58 ห่างกัน 3840 วินาที
ช่วงเวลา 21:49:10 - 22:24:10 ห่างกัน 3840 วินาที
ช่วงเวลา 08:52:21 - 09:25:21 ห่างกัน 3840 วินาที
ช่วงเวลา 06:56:26 - 07:49:26 ห่างกัน 3840 วินาที
ช่วงเวลา 12:08:05 - 12:43:05 ห่างกัน 3840 วินาที
ช่วงเวลา 01:48:38 - 07:18:38 ห่างกัน 3840 วินาที
ช่วงเวลา 08:51:21 - 10:17:21 ห่างกัน 3840 วินาที
ช่วงเวลา 17:05:17 - 18:09:17 ห่างกัน 3840 วินาที

# HW3 เพิ่ม ฟังก์ชันแปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชันช่วยเหลืออื่นๆ ของ python (import) ถ้าส่วนของชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

#### ==, !=,>=,<=,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## &&, ||, in, is : Operator อื่นๆ

In [34]:
if (1>0) & (0>-1):
    print(True & True)

True

In [35]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [40]:
def return_nothing(x):
    x = x+1

In [41]:
a = return_nothing(5)

In [44]:
if a is None:
    print('x is Null')

x is Null

# Finish